[Desktop Entry]
Name=OnzeMenu 11
Comment=A configurable launcher menu 11

Type=Service
Icon=start-here-kde
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.launchermenu

X-KDE-PluginInfo-Author=adhe
X-KDE-PluginInfo-Email=adhemarks@gmail.com
X-KDE-PluginInfo-Name=OnzeMenu
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true

Name[de]=OnzeMenu 11
Name[fr]=OnzeMenu 11
Name[ko]=Onze 메뉴 11
Name[nl]=OnzeMenu 11
Name[pt-br]=OnzeMenu 11
Name[tr]=OnzeMenu 11
Name[uk]=OnzeMenu 11
Comment[de]=Ein konfigurierbares Launcher-Menü 11
Comment[fr]=Un lanceur configurable style Win11
Comment[ko]=설정 가능한 Win11 스타일 프로그램 실행기
Comment[nl]=Instelbare programmastarter 11
Comment[pt-br]=Um menu de lançador configurável 11
Comment[ru]=Настраиваемое меню запуска OnzeMenu 11
Comment[tr]=Yapılandırılabilir başlatıcı menüsü 11
Comment[uk]=Налаштовуваний засіб запуску програм 11
Comment[zh_CN]=一个可自定义的类Win11开始菜单
